@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* @import "tailwindcss"; */
@import "bootstrap/dist/css/bootstrap.min.css";

html{
  scroll-behavior: smooth;
}
*{
  --theme-color: #e75b0a;
  --font-family: 'Roboto', 'Poppins', sans-serif;
}
body{
  --color: #FAF3E0;
  margin: 0;
  padding: 0;
  background: var(--color);
}
body::-webkit-scrollbar{
  width: 10px;
  background-color: #e8e5e4;
  
}
body::-webkit-scrollbar-thumb{
  background-color: var(--theme-color);
}
body::-webkit-scrollbar{
  background-color: #f7f2ee3c;
}
.no-select {
  user-select: none; 
  -webkit-user-select: none; 
  -ms-user-select: none; 
}

.app-main{
  display: flex;
  flex-direction: column;
  min-height: 55.89vh;
}
.app-body{
  flex: 1;
}
