.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.popup-window{
  height: 50px 500px;
  width: 300px 500px;
  background-color: white;
  padding: 20px 50px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  text-align: center;
  overflow: hidden;
}
.popup-btn-section{
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.popup-message{
  font-family: var(--font-family);
  font-size: 1.1em;
  color: black;
  margin: 5px;
}