.item-card{
  z-index: 1000;
  position: relative;
  width: 60%;
  box-shadow: 0 1px 3px white, 0 -1px 3px white;
  transition: all ease-in-out;
  animation: popup 0.1s linear;
}
@keyframes popup{
  from{
    transform: scale(0.4);
    opacity: 0.4;
  }
  to{
    transform: scale(1);
    opacity: 1;
  }
}
.item-card-badge{
  position: absolute;
  background-color: #4c4646d6;
  color: white;
  padding: 5px 10px;
  right: 0;
  cursor: pointer;
}

.item-card-badge:hover{
  background-color: #ff0000ec;
}